@font-face {
	font-family: "KG Girl On Fire";
	src: url("http://www.dafont.com/kg-girl-on-fire.font");
}

body {
	font-family: KG Girl On Fire;
	font-size: 35px;
	line-height: .05cm;
}

fieldset {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

div {
	text-align: center;
	line-height: .25cm;
}

h1 {
	color: #e26a8d;
	text-align: center;
}

h2 {
	color: #e26a8d;
	text-align: center;
}

h3 {
	color: #e26a8d;
}

h5 {
	color: #e26a8d;
	line-height: .8cm;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

hr {
	width: 50%;
}

.create {
	border-radius: 1em 3em 1em 3em;
	-moz-border-radius: 1em 3em 1em 3em;
	-webkit-border-radius: 1em 3em 1em 3em;
}


.heading {
	color: #e26a8d;
	font-size: 35px;
}

form {
	font-family: Gill sans;
	font-size: 15px;
	line-height: .25cm;
}

p {
	font-family: Gill sans;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	font-size: 20px;
	line-height: .75cm;
}

img {
	margin-right: auto;
	margin-left: auto;
}	

li {
	font-family: Gill sans;
	font-size: 15px;
	-webkit-transition: background-color 4s;
}

dl {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

table {
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e26a8d;
}

li {
	float: left;
}

.bar {
	font-family: KG Girl On Fire;
	font-size: 28px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	-webkit-transition: background-color 4s;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

li a.active {
	background-color: #f2b1c4;
	color: #707070;
}
