

body {
	background-image: url("images/scallop.jpg");
	background-repeat: repeat-x;
	font-family: KG Girl On Fire;
	font-size: 35px;
    line-height: 1cm;
}

fieldset {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	background: rgba(226,106,141,0.2);

	
}

div {
	text-align: center;
    line-height: .25cm;
}

h1 {
	color: #e26a8d;
	text-align: center;
}

h3 {
	color: #e26a8d;
	line-height: .05cm;
}

h4 {
	line-height: .025cm;
	font-family: Gill sans;
	font-size: 14px;
	font-weight: normal;
}

ol {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
}

.create {
	padding: 0px;
	border-radius: 250px;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
}

.heading {
	font-size: 35px;
	text-align: left;
}

form {
	font-family: Gill sans;
	font-size: 15px;
    line-height: .5cm;
}

p {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

img {
	margin-right: auto;
	margin-left: auto;
}	

li {
	font-family: Gill sans;
	font-size: 15px;
    line-height: .5cm;
}

dl {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

table {
	margin-right: auto;
	margin-left: auto;
}