@font-face {
	font-family: "KG Girl On Fire";
	src: url("http://www.dafont.com/kg-girl-on-fire.font");
}

body {
	font-family: "KG Girl On Fire";
	font-size: 35px;
	line-height: .75cm;
}

div {
	text-align: center;
	line-height: .25cm;
}

h1 {
	color: #e26a8d;
	text-align: center;
}

h3 {
	color: #e26a8d;
}

h4 {
	line-height: .025cm;
	font-family: "Gill sans";
	font-size: 14px;
	font-weight: normal;
}

ol {
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	color: #707070;
}

.learn {
	font-family: "Gill sans";
	font-size: 18px;
}

.create {
	padding: 0px;
	border-radius: 250px;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
}

.heading {
	font-size: 35px;
	text-align: left;
}

.hobby a {
	font-family: Gill sans;
	font-size: 15px;
	line-height: .5cm;
	color: #707070;
}

p {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

img {
	margin-right: auto;
	margin-left: auto;
}	

table {
	margin-right: auto;
	margin-left: auto;
}

li {
	font-family: Gill sans;
	font-size: 15px;
	line-height: .05cm;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #e26a8d;
}

.bar{
	font-family: KG Girl On Fire;
	font-size: 28px;
	float: left;
}

.heading {
	text-align: left;
}

h4 a {
	color: #707070;
}

.bar a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	-webkit-transition: background-color 4s;
	text-decoration: none;
	color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

li a.active {
	background-color: #f2b1c4;
	color: #707070;
}