@font-face {
    font-family: "KG Girl On Fire";
    src: url("http://www.dafont.com/kg-girl-on-fire.font");
}

body {
	font-family: KG Girl On Fire;
    font-size: 65px;
    text-align: center;
    line-height: .05cm;
}

h1 {
	color: #e26a8d;
    line-height: 1;
}

table {
	line-height: 1.5cm;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

td {
	color: #e26a8d;
	padding-right: 20px;
	padding-left: 20px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e26a8d;
}

li {
    float: left;
}

.bar {
	font-family: KG Girl On Fire;
    font-size: 28px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    -webkit-transition: background-color 4s;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.active {
	background-color: #f2b1c4;
	color: #707070;
}
